<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reminder</title>
</head>
<body>
  <h2>Dear {{name}}! </h2>
  <p>You credit card {{card_no}} is due </p>
</body>
</html>